Q1

In [10]:
import pandas as pd

def clean_sensor_data(df):
    df['temperature_kelvin'] = df['temperature_kelvin'].fillna(df['temperature_kelvin'].mean())
    return df

def calculate_aggregates(df):
    df = df.groupby('truck_id').agg({'temperature_kelvin': 'mean', 'humidity_percent': 'max'})
    return df

In [11]:
df = pd.read_csv('PID/datasets/sensor_data_raw.csv')
df.head()
df.nunique()

truck_id              11
sensor_id             10
timestamp              6
temperature_kelvin    36
humidity_percent      37
gps_lat               43
gps_lng               43
engine_status          3
dtype: int64

In [12]:
cleaned_df = clean_sensor_data(df)
result_df = calculate_aggregates(cleaned_df)
result_df.to_csv('PID/datasets/sensor_data_aggregated.csv', index=False)
result_df

           temperature_kelvin  humidity_percent
truck_id
</invoke>          300.459091               NaN
TRK001             301.566667              69.8
TRK002             298.584848              70.2
TRK003             304.650000              77.8
TRK004             298.933333              67.5
TRK005             301.416667              73.1
TRK006             298.116667              64.9
TRK007             300.516667              68.5
TRK008             297.016667              63.4
TRK009             301.716667              71.8
TRK010             299.216667              66.9